<h1>{{ isEditMode() ? 'Editar Cliente' : 'Novo Cliente' }}</h1>

<div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <label>Nome</label>
        <input type="text" formControlName="name" />

        <label>Tipo de Documento</label>
        <select formControlName="documentType">
            <option value="CPF">CPF</option>
            <option value="CNPJ">CNPJ</option>
        </select>

        <label>Documento</label>
        <input type="text" formControlName="document" />

        <label>Telefone</label>
        <input type="text" formControlName="phone" />

        <label>Email</label>
        <input type="email" formControlName="email" />

        <label>Descrição</label>
        <textarea formControlName="description"></textarea>

        <fieldset formGroupName="address">
            <legend>Endereço</legend>

            <div class="info">
                <label>Rua</label>
                <input type="text" formControlName="street" />
            </div>
            <div class="info">
                <label>Número</label>
                <input type="text" formControlName="number" />
            </div>
            <div class="info">
                <label>Bairro</label>
                <input type="text" formControlName="neighborhood" />
            </div>
            <div class="info">
                <label>Cidade</label>
                <input type="text" formControlName="city" />
            </div>
            <div class="info">
                <label>Estado (UF)</label>
                <input type="text" formControlName="state" maxlength="2" />
            </div>
            <div class="info">
                <label>CEP</label>
                <input type="text" formControlName="zipCode" />
            </div>
        </fieldset>

        @if (errorMessage()) {
        <div class="form-error">{{ errorMessage() }}</div>
        }

        <button type="submit" [disabled]="isLoading()">Salvar</button>
    </form>
</div>